<div  class="desktop">
  <ion-header mode="ios">
      <ion-toolbar>
          <ion-row class="ion-align-items-center">
              <ion-col size="2">
              <img src="./assets/icon/newlogo.PNG" class="logo ion-text-left">
              </ion-col>
              <ion-col size="10">

                  <div class="navbar" class="ion-text-right">
                     
                      <ion-button fill="clear" href= "/welcome" routerDirection="root" routerLinkActive="active-link" class="link" >Home</ion-button>
                      
                      <ion-button fill="clear"  href= "/signup" routerDirection="root" routerLinkActive="active-link" class="link">Sign Up</ion-button>
                      
                      <ion-button fill="clear" (click)="onLogout()" routerDirection="root" routerLinkActive="active-link" class="link" >Log Out</ion-button>
                    
                  </div>

              </ion-col>
          </ion-row>
      </ion-toolbar>
  </ion-header>

<ion-header class="ion-text-center">
  <ion-toolbar color="primary-contrast">
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>
</div>

<ion-content>
  <div >
    <h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <u>Getting Started</u></h3>
    <div>
    <h5><p> Go to the </p></h5>
    </div>
</div>
<div >
    <h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <u>Services</u></h3>
    <div>
    <h5><p> Free! You heard right! We have have services where a<br> developer creates a website or mobile application.<br> We keep tabs on our developers to help them produce <br>satifying results to our clients.</p></h5>
    </div>
</div>
</ion-content>
<div class="footer">
  <span>
      The Innovators App 2021
  </span>
</div>


