<ion-header>
  <ion-toolbar>
    <ion-title>firestore chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list-header>
  profile
</ion-list-header>
<ion-item>
  <ion-avatar slot ="start">
    <img src="{{dp}}" alt="">
    

  </ion-avatar>
<ion-label>
  <h2>
    <b>
      {{name}}
    </b>
  </h2>
  <p>
    @{{username}}
  </p>
</ion-label>
</ion-item>
<ion-list-header>
  Users
</ion-list-header>



<ion-item lines="none" *ngFor="let user of users" (click)="gotoChat(user.uid,user.name)" button>
<ion-avatar slot ="start">
  <img src="{{user.dp}}" alt ="">

</ion-avatar>
<h2>
  <b>
    {{user.name}}
  </b>
</h2>
<p>
  @{{user.username}}
</p>
</ion-item>
</ion-content>
