
<div  class="desktop">
  <ion-header mode="ios">
      <ion-toolbar>
          <ion-row class="ion-align-items-center">
              <ion-col size="2">
              <img src="./assets/icon/newlogo.PNG" class="logo ion-text-left">
              </ion-col>
              <ion-col size="10">

                  <div class="navbar" class="ion-text-right">
                    <ion-button fill="clear" routerLink= "/home" routerDirection="root" routerLinkActive="active-link" class="link" >Home</ion-button>
                    
                    <ion-button fill="clear"  href= "/responses" routerDirection="root" routerLinkActive="active-link" class="link">Responses</ion-button>
                      
                      <ion-button fill="clear" [routerLink]="['/display']" routerDirection="root" routerLinkActive="active-link" class="link" >Noticeboard</ion-button>
                    
                      <ion-button fill="clear" (click)="onLogout()" routerDirection="root" routerLinkActive="active-link" class="link" >Log Out</ion-button>
                    
                    
                     
                  </div>

              </ion-col>
          </ion-row>
      </ion-toolbar>
  </ion-header>

<ion-header class="ion-text-center">
  <ion-toolbar color="primary-contrast">
    <ion-title> INTERESTS</ion-title>
  </ion-toolbar>
</ion-header>
</div>
<ion-content>
  

  <ion-list  *ngFor="let printUser of printUsers; let i=index">
    
    <ion-item  >
      <ion-icon name="trash" slot="end" (click)="seek()"></ion-icon> 
      <ion-label position="stacked" color="tertiary" > user: </ion-label>
      
      <ion-textarea  readonly value="{{printUser.theirEmail}}" href="chat"></ion-textarea>
      
      </ion-item>
          
      <ion-item  >
    
        

        </ion-item>
           

<ion-button type="button" size="medium" fill="solid" expand="block" color="tertiary" (click)=getVal(i,val) (click)="goChat()" >Send Client Private Message</ion-button>

{{i}}
  </ion-list>
  <br>
                <br>
                <br>
                <br>
</ion-content>
<div class="footer">
  <span>
      The Innovators App 2021
  </span>
</div>