.desktop{
    ion-router-outlet{
        margin-top: 56px;
        margin-bottom: 56px;
    }
    .logo{
        max-height: 40px;
    }
    ion-toolbar{
        --background: #5260ff;
    
    }
    .link{
        --color: var(--ion-color-light);
    }
    .active-link{
        --color: var(--ion-color-primary)
    }
}
.footer{
    width:100%;
    color: #fff;
    font-weight: bold;
    background: #5260ff;
    height: 56px;
    line-height: 56px;
    text-align: center;
    position: fixed;
    bottom: 0px;

}
ion-content.background{
    
    --background: url('/assets/icon/nlogo.PNG') no-repeat right center fixed;
   
    background-size: cover;
}
ion-content.resizer{
    font-size: clamp(15rem , 80vw ,80vh);
}