

<div  class="desktop">
    <ion-header mode="ios">
        <ion-toolbar>
            <ion-row class="ion-align-items-center">
                <ion-col size="2">
                <img src="./assets/icon/newlogo.PNG" class="logo ion-text-left">
                </ion-col>
                <ion-col size="10">

                    <div class="navbar" class="ion-text-right">
                          
                        <ion-button fill="clear" href= "/home" routerDirection="root" routerLinkActive="active-link" class="link" >Home</ion-button>
                      
                        <ion-button fill="clear" href= "/welcome" routerDirection="root" routerLinkActive="active-link" class="link" >Welcome</ion-button>
                      
                        <ion-button fill="clear"  [routerLink]= "['/signup']" routerDirection="root" routerLinkActive="active-link" class="link">Sign Up</ion-button>
                         
                        <ion-button fill="clear" [routerLink]= "['/login']" routerDirection="root" routerLinkActive="active-link" class="link" >Log In</ion-button>
                      
                       
                    </div>

                </ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-header>
    <ion-header class="ion-text-center"><h3>Welcome Page</h3></ion-header>
<ion-router-outlet class="desktop-wrapper"></ion-router-outlet>
<div class="footer">
    <span>
        The Innovators App 2021
    </span>
</div>
</div>
<ion-content class="background" size="12" size-md="10" size-lg="8" size-xl="6">
    <ion-list color="transparent">
    <ion-label class="ion-text-wrap">
        <h1>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <u>Who  are  we?</u></h1>
        <div>
        <h2>This is a platform especially designed for clients<br> who are in need for software development services.<br> This Company provides with reliable developers and<br> programmers who are post graduates, undergraduates<br> and cetified practitioners to ensure that you get the best possible service</h2>
        </div>
    </ion-label>
    <br>
    
    
    <ion-label linespace >
        <h1>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <u>Services</u></h1>
        <div>
        <h2> Free! You heard right! We have have services where a<br> developer creates a website or mobile application.<br> We keep tabs on our developers to help them produce <br>satifying results to our clients.</h2>
        </div>
    </ion-label>
    <br>
    
    <ion-label linespace >
        <h1>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <u>Next Step</u></h1>
        <div>
        <h2>You need to create an account <br> then choose if you seek an app or you develop apps.<br> After Login You can make Project Requests and send messages. <br>Developers can respond to project requests through direct messaging.</h2>
        </div>
    </ion-label>
</ion-list>
</ion-content>