.desktop{
    ion-router-outlet{
        margin-top: 56px;
        margin-bottom: 56px;
    }
    .logo{
        max-height: 40px;
    }
    ion-toolbar{
        --background: #5260ff;
    
    }
    .link{
        --color: var(--ion-color-light);
    }
    .active-link{
        --color: var(--ion-color-primary)
    }
}
.footer{
    width:100%;
    color: #fff;
    font-weight: bold;
    background: #5260ff;
    height: 56px;
    line-height: 56px;
    text-align: center;
    position: fixed;
    bottom: 0px;

}
button {
    width: 100%;
    margin-top:15px;
}
a {
    text-decoration: none;
    color: blueviolet;
}