<div  class="desktop">
  <ion-header mode="ios">
      <ion-toolbar>
          <ion-row class="ion-align-items-center">
              <ion-col size="2">
              <img src="./assets/icon/newlogo.PNG" class="logo ion-text-left">
              </ion-col>
              <ion-col size="10">

                  <div class="navbar" class="ion-text-right">
                    <ion-button fill="clear" href= "/home" routerDirection="root" routerLinkActive="active-link" class="link" >Home</ion-button>
                      
                      <ion-button fill="clear" [routerLink]= "['/welcome']" routerDirection="root" routerLinkActive="active-link" class="link" >Welcome</ion-button>
                      
                      <ion-button fill="clear"  [routerLink]= "['/signup']" routerDirection="root" routerLinkActive="active-link" class="link">Sign Up</ion-button>
                       
                      <ion-button fill="clear" href= "/login" routerDirection="root" routerLinkActive="active-link" class="link" >Log In</ion-button>
                    
                  </div>

              </ion-col>
          </ion-row>
      </ion-toolbar>
  </ion-header>


<ion-header class="ion-text-center">
  <ion-toolbar color="primary-contrast">
    <ion-title>HOW IT WORKS</ion-title>
  </ion-toolbar>
</ion-header>
</div>
<ion-content>
  <ion-list>
  <ion-item  >
    <ion-label position="stacked" > Step 1: </ion-label>

    <ion-textarea  readonly value="Create an account: On the Navigation Bar at the top, click Sign Up" ></ion-textarea>
    </ion-item>
    <ion-item  >
      <ion-label position="stacked" > Step 2: </ion-label>
  
      <ion-textarea  readonly value="Fill all Sign Up details and choose Your Position or Role: App Developer or App Client" ></ion-textarea>
      </ion-item>
      <ion-item  >
        <ion-label position="stacked" > Step 3: </ion-label>
    
        <ion-textarea  readonly value="Verify Email Address: You will get an alert message to go check your email for verification link" ></ion-textarea>
        </ion-item>
        <ion-item  >
          <ion-label position="stacked" > Step 4: </ion-label>
      
          <ion-textarea  readonly value="After Email Verification, Click Login button on Navigation Bar" ></ion-textarea>
          </ion-item>
          <ion-item  >
            <ion-label position="stacked" > Step 5: </ion-label>
        
            <ion-textarea  readonly value="Use your details to Login. When Successful You will be taken to the Home Page" ></ion-textarea>
            </ion-item>
</ion-list>
</ion-content>
