<div  class="desktop">
  <ion-header mode="ios">
      <ion-toolbar>
          <ion-row class="ion-align-items-center">
              <ion-col size="2">
              <img src="./assets/icon/newlogo.PNG" class="logo ion-text-left">
              </ion-col>
              <ion-col size="10">

                  <div class="navbar" class="ion-text-right">
                    <ion-button fill="clear" href= "/home" routerDirection="root" routerLinkActive="active-link" class="link" >Home</ion-button>
                      
                      <ion-button fill="clear" [routerLink]= "['/welcome']" routerDirection="root" routerLinkActive="active-link" class="link" >Welcome</ion-button>
                      
                      <ion-button fill="clear"  [routerLink]= "['/signup']" routerDirection="root" routerLinkActive="active-link" class="link">Sign Up</ion-button>
                       
                      <ion-button fill="clear" href= "/login" routerDirection="root" routerLinkActive="active-link" class="link" >Log In</ion-button>
                    
                  </div>

              </ion-col>
          </ion-row>
      </ion-toolbar>
  </ion-header>

<ion-header class="ion-text-center">
  <ion-toolbar color="primary-contrast">
    <ion-title>LOG IN</ion-title>
  </ion-toolbar>
</ion-header>
</div>

 <ion-content > 
 <div linespace ></div> 
  
<div linespace ></div> 
 
 <div linespace></div> 

 <div linespace></div>  
 <div  linespace></div> 
<div class="center "> 
  <ion-list><ion-item transparent> 
  <ion-icon name="person"></ion-icon>  
  <ion-input type ="email" placeholder ="Username"  [(ngModel)] = "user.email" required ></ion-input>  
  </ion-item > 
 <ion-item transparent> 
 

 <ion-icon name= "lock-closed"></ion-icon> 
  
 <ion-input type = "password" placeholder = "Password" [(ngModel)] = "user.password" required></ion-input> 
 
 </ion-item> 
  
 </ion-list> 

  <a routerLink= "/reset-password" >Forgot password? </a> 

 <div linespace></div>  
 <ion-button type="submit" size= "medium"  fill= "solid" expand="block" color= "tertiary" (click) ="login(user)" (click)="routeG()">LOGIN </ion-button > 
 

  <ion-label style = "text-align:center ;">Don't have account:<a class="link-b" href= "/signup"> Sign up</a></ion-label> 
 <div linespace ></div> 
 
 <div linespace></div> 
 
 <ion-label style = "text-align:center ;"><a href = "/how-it-works"  class= "alink">How it works?</a> 
 
 </ion-label> 

 </div>
 </ion-content>
 <div class="footer">
  <span>
      The Innovators App 2021
  </span>
</div>