<!--<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Open Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="signOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<div  class="desktop">
  <ion-header mode="ios">
      <ion-toolbar>
          <ion-row class="ion-align-items-center">
              <ion-col size="2">
              <img src="./assets/icon/newlogo.PNG" class="logo ion-text-left">
              </ion-col>
              <ion-col size="10">

                  <div class="navbar" class="ion-text-right">
                    
                   
                  
                    
                    <ion-button (click)="onLogout()" >
                      <ion-icon name="log-out" slot="end"></ion-icon>
                      
                    </ion-button>
                     
                  </div>

              </ion-col>
          </ion-row>
      </ion-toolbar>
  </ion-header>

<ion-header class="ion-text-center">
  <ion-item  >
    <ion-icon class="icon" name="reload-outline"  (click)="getChats()"></ion-icon> 
    <span class="text">REFRESH</span>
    <ion-icon class="icon" slot="end" name="ARROW-BACK"  (click)="goBack()"></ion-icon>
    <span slot="end" class="text" (click)="goBack()">GO BACK</span> 
      </ion-item> 
      
  <!--ion-toolbar color="primary-contrast">
    ion-title> MESSAGES</ion-title>
    
  </ion-toolbar-->
  
</ion-header>
</div>

<ion-content>
   
 <ion-grid>
   <ion-row *ngFor="let showChat of showChats ">
   
     <ion-col size="9" *ngIf="currentUser === showChat.fromEmail" class="message other-message">
     <b> {{showChat.fromEmail}}</b><br>
     <span>{{showChat.message}}</span>
     <div class="time" text-right><br>
    {{ showChat.date | date: 'fullDate'}}</div>
  </ion-col>
    
  
     
    <ion-col offset="3" size="9" *ngIf="currentUser === showChat.toEmail" class="message my-message">
    <b> {{showChat.fromEmail}}</b><br>
    <span>{{showChat.message}}</span>
    <div class="time" text-right><br>
   {{ showChat.date | date: 'fullDate'}}</div>

 </ion-col>
    
   </ion-row>
 </ion-grid>

</ion-content>

 
  
  <ion-footer>
    <ion-toolbar color="light">
      <ion-row align-items-center no-padding>
        <ion-col size ="10">
<ion-textarea autosize maxRows="3" [(ngModel)]="newMsg" class="message-input"></ion-textarea>
        </ion-col>
        <ion-col size ="2">
       <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()" >
         <ion-icon name="send" slot="icon-only"></ion-icon>
       </ion-button>
        </ion-col>
      </ion-row>

    </ion-toolbar>
  </ion-footer>