<div  class="desktop">
  <ion-header mode="ios">
      <ion-toolbar>
          <ion-row class="ion-align-items-center">
              <ion-col size="2">
              <img src="./assets/icon/newlogo.PNG" class="logo ion-text-left">
              </ion-col>
              <ion-col size="10">

                  <div class="navbar" class="ion-text-right">
                      
                     <!--ion-item [routerLink] = "login">
                      <ion-icon slot="start" name="arrow-forward"></ion-icon>
                      <ion-label>menu</ion-label>
                    </ion-item-->
                                            
                      <ion-button fill="clear"  href= "/responses" routerDirection="root" routerLinkActive="active-link" class="link">Responses</ion-button>
                       
                      <ion-button fill="clear" href= "/noticeboard" routerDirection="root" routerLinkActive="active-link" class="link" >Noticeboard</ion-button>
                    
                      <ion-button fill="clear" [routerLink]="['/profile']" routerDirection="root" routerLinkActive="active-link" class="link" >Profile</ion-button>
                    
                      <ion-button fill="clear" (click)="onLogout()" routerDirection="root" routerLinkActive="active-link" class="link" >Log Out</ion-button>
                    
                      
                  </div>

              </ion-col>
          </ion-row>
      </ion-toolbar>
  </ion-header>

<ion-header class="ion-text-center">
  <ion-toolbar color="primary-contrast">
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>
</div>

<ion-content>
  <ion-list>
    <ion-item  >
      <ion-label position="stacked" > Responses Tab: </ion-label>
  
      <ion-textarea  readonly value="Check To See If You Have Any Responses To Messages You Sent. You can directly message clients from here." ></ion-textarea>
      </ion-item>

      <ion-item  >
        <ion-label position="stacked" > Noiceboard Tab: </ion-label>
    
        <ion-textarea  readonly value="Allows clients to make a project/app request by providing neccesary details." ></ion-textarea>
        </ion-item>

        <ion-item  >
          <ion-label position="stacked" >Profile  Tab: </ion-label>
      
          <ion-textarea  readonly value="The clients can update their personal information here." ></ion-textarea>
          </ion-item>
        
  </ion-list>
</ion-content>
<div class="footer">
  <span>
      The Innovators App 2021
  </span>
</div>
